spring:
  application:
    name: service-alpha
  datasource:
    url: jdbc:h2:mem:alphadb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
server:
  port: 8081
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
